.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.template
static/fonts/*
!static/fonts/.gitkeep
!static/fonts/redaction
!static/fonts/inter*
static/twemoji/*
!static/twemoji/.gitkeep
/coverage
/src/e2e-tests/.tmp/*
!/src/e2e-tests/.tmp/.gitkeep
.netlify/
**/__generated__/

# Sentry Config File
.sentryclirc
