.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
static/fonts/*
!static/fonts/.gitkeep
!static/fonts/redaction
static/twemoji/*
!static/twemoji/.gitkeep
/coverage
/src/e2e-tests/.tmp/*
!/src/e2e-tests/.tmp/.gitkeep
.netlify/
dev-dist/
