[build.environment]

[context.deploy-preview]
    command = "mv robots-disallow.txt ./static/robots.txt && npm i esbuild && npm run build:graphql && PUBLIC_BASE_URL=$DEPLOY_URL npm run build"

[context.branch-deploy]
    command = "mv robots-disallow.txt ./static/robots.txt && npm i esbuild && npm run build:graphql && PUBLIC_BASE_URL=$DEPLOY_URL npm run build"

[context.dev]
    command = "mv robots-disallow.txt ./static/robots.txt && npm i esbuild && npm run build:graphql && PUBLIC_BASE_URL=$DEPLOY_URL npm run build"

[context.production]
    command = "mv robots-allow.txt ./static/robots.txt && npm i esbuild && npm run build:graphql && PUBLIC_BASE_URL=$DEPLOY_URL npm run build"

[[redirects]]
  from = "https://beta.drips.network/*"
  to = "https://drips.network/:splat"
  status = 301
