body {
  -webkit-tap-highlight-color: transparent;
}

/* hide input[number] arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.search-highlight {
  background-color: var(--color-foreground-level-2);
  display: inline;
  border-radius: 0.25rem;
}

@font-face {
  font-family: 'Redaction 50';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/redaction/Redaction_50-Italic.woff2') format('woff2');
}

h1,
.typo-header-1,
.pixelated {
  font-family: 'Redaction 50', Times, serif;
  font-weight: normal;
  font-style: normal;
}
