@import 'tailwind.css';
@import 'reset.css';
@import 'global.css';
@import 'colors.css';
@import 'elevation.css';
@import 'typography.css';

html.smoothscroll {
  scroll-behavior: smooth;
}

body {
  -webkit-tap-highlight-color: transparent;
  text-wrap: pretty;
}

* {
  transition: background-color 0.2s;
  font-feature-settings:
    'ss02',
    'calt' 0;
}

::selection {
  background: var(--color-primary);
  color: var(--color-background);
}

/* hide input[number] arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.search-highlight {
  background-color: var(--color-foreground-level-2);
  display: inline;
  border-radius: 0.25rem;
}

.only-dark-theme,
.only-light-theme,
.only-h4x0r-theme {
  display: none;
}

.main[data-theme='light'] .only-light-theme {
  display: initial;
}

.main[data-theme='dark'] .only-dark-theme {
  display: initial;
}

.main[data-theme='h4x0r'] .only-h4x0r-theme {
  display: initial;
}

@font-face {
  font-family: 'Redaction 50';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/redaction/Redaction_35-Italic.woff2') format('woff2');
}

h1,
.typo-header-1,
.pixelated {
  font-family: 'Redaction 50', Times, serif;
  font-weight: normal;
  font-style: normal;
}

h3,
.typo-header-3 {
  font-family: var(--typeface-regular);
}

.tabular-nums {
  font-feature-settings: 'tnum', 'zero';
}

.app-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.twemoji-text .emoji {
  display: inline-block;
  height: 1em;
  padding: 0 0.125rem;
  margin-bottom: 0.1em;
  vertical-align: middle;
}

:root::view-transition-old(root) {
  animation:
    110ms cubic-bezier(0.4, 0, 1, 1) both default-transition-fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both default-transition-slide-to-top;
  transform-origin: 50% 50%;
}

:root::view-transition-new(root) {
  animation:
    210ms cubic-bezier(0, 0, 0.2, 1) 90ms both default-transition-fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both default-transition-slide-from-bottom;
}

:root::view-transition-group(.element-handover) {
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

:root::view-transition-old(.element-handover):only-child {
  animation:
    110ms cubic-bezier(0.4, 0, 1, 1) both default-transition-fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both default-transition-slide-to-top;
  transform-origin: 50% 50%;
}

:root::view-transition-new(.element-handover):only-child {
  animation:
    210ms cubic-bezier(0, 0, 0.2, 1) 90ms both default-transition-fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both default-transition-slide-from-bottom;
}

@media (prefers-reduced-motion: reduce) {
  :root::view-transition-old(root),
  :root::view-transition-new(root) {
    animation: none;
  }
}
