/* hide input[number] arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.search-highlight {
  background-color: var(--color-foreground-level-2);
  display: inline;
  border-radius: 0.25rem;
}

@font-face {
  font-family: 'Redaction 50';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/redaction/Redaction_50-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Redaction 50';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/redaction/Redaction_50-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Redaction 50';
  font-weight: 700;
  font-style: bold;
  src: url('/fonts/redaction/Redaction_50-Bold.woff2') format('woff2');
}

h1 {
  font-family: 'Redaction 50', Times, serif;
  font-style: italic;
}
