:root {
  --color-primary: #5555ff;
  --color-primary-level-1: #e2e2ff;
  --color-primary-level-2: #c0c0ff;
  --color-primary-level-6: #313166;
  --color-positive: #53db53;
  --color-positive-level-1: #e3ffe3;
  --color-positive-level-2: #b5ffb5;
  --color-positive-level-6: #569656;
  --color-caution: #ffc555;
  --color-caution-level-1: #fff6e5;
  --color-caution-level-2: #ffe5b2;
  --color-caution-level-6: #b27805;
  --color-negative: #ff5555;
  --color-negative-level-1: #ffeded;
  --color-negative-level-2: #ff8787;
  --color-negative-level-6: #803d3d;
  --color-foreground: #28333d;
  --color-foreground-level-1: #f8f8f8;
  --color-foreground-level-2: #ebeff3;
  --color-foreground-level-3: #c5d1db;
  --color-foreground-level-4: #a9b9c7;
  --color-foreground-level-5: #90a0af;
  --color-foreground-level-6: #546474;
  --color-background: #ffffff;
}

[data-theme='dark'] {
  --color-primary: #5555ff;
  --color-primary-level-1: #212847;
  --color-primary-level-2: #2c326d;
  --color-primary-level-6: #e3e3ff;
  --color-positive: #53db53;
  --color-positive-level-1: #21402f;
  --color-positive-level-2: #2c6837;
  --color-positive-level-6: #e3ffe3;
  --color-caution: #ffc555;
  --color-caution-level-1: #2f312d;
  --color-caution-level-2: #524a34;
  --color-caution-level-6: #ffefcf;
  --color-negative: #ff5555;
  --color-negative-level-1: #38282f;
  --color-negative-level-2: #623237;
  --color-negative-level-6: #ffd4d4;
  --color-foreground: #ffffff;
  --color-foreground-level-1: #162029;
  --color-foreground-level-2: #29343d;
  --color-foreground-level-3: #333e47;
  --color-foreground-level-4: #5e6d7a;
  --color-foreground-level-5: #8594a1;
  --color-foreground-level-6: #d3dee8;
  --color-background: #0e171f;
}

[data-theme='h4x0r'] {
  --color-primary: #ffa755;
  --color-primary-level-1: #473728;
  --color-primary-level-2: #6d4f32;
  --color-primary-level-6: #fff4ea;
  --color-positive: #53db53;
  --color-positive-level-1: #224021;
  --color-positive-level-2: #2e682c;
  --color-positive-level-6: #e3ffe3;
  --color-caution: #ffc555;
  --color-caution-level-1: #2c1e00;
  --color-caution-level-2: #644b19;
  --color-caution-level-6: #ffe4af;
  --color-negative: #ff0000;
  --color-negative-level-1: #2e0000;
  --color-negative-level-2: #570000;
  --color-negative-level-6: #ffb3b3;
  --color-foreground: #15ff00;
  --color-foreground-level-1: #031e01;
  --color-foreground-level-2: #0b3607;
  --color-foreground-level-3: #0e7305;
  --color-foreground-level-4: #0fb200;
  --color-foreground-level-5: #81f976;
  --color-foreground-level-6: #c0ffba;
  --color-background: #021400;
}

[data-primary-color='blue'] {
  --color-primary: #5555ff;
  --color-primary-level-1: #e2e2ff;
  --color-primary-level-2: #c0c0ff;
  --color-primary-level-6: #313166;
}

[data-primary-color='blue'][data-theme='dark'] {
  --color-primary: #5555ff;
  --color-primary-level-1: #212847;
  --color-primary-level-2: #2c326d;
  --color-primary-level-6: #e3e3ff;
}

[data-primary-color='pink'] {
  --color-primary: #ff55ff;
  --color-primary-level-1: #ffe2ff;
  --color-primary-level-2: #ffbfff;
  --color-primary-level-6: #ff6bff;
}

[data-primary-color='pink'][data-theme='dark'] {
  --color-primary: #ff55ff;
  --color-primary-level-1: #431643;
  --color-primary-level-2: #6d246d;
  --color-primary-level-6: #ffceff;
}

[data-primary-color='orange'] {
  --color-primary: #ff7b00;
  --color-primary-level-1: #ffe9d5;
  --color-primary-level-2: #ffcea1;
  --color-primary-level-6: #ff8c21;
}

[data-primary-color='orange'][data-theme='dark'] {
  --color-primary: #ff7b00;
  --color-primary-level-1: #422000;
  --color-primary-level-2: #783a00;
  --color-primary-level-6: #ffd2a8;
}

[data-primary-color='red'] {
  --color-primary: #ff0420;
  --color-primary-level-1: #ffb0b9;
  --color-primary-level-2: #ff7484;
  --color-primary-level-6: #ff223b;
}

[data-primary-color='red'][data-theme='dark'] {
  --color-primary: #ff0420;
  --color-primary-level-1: #5b000a;
  --color-primary-level-2: #aa0013;
  --color-primary-level-6: #ffa1aa;
}
