/* cloned from radicle-design-system so we can swap in optimized fonts */

@font-face {
  font-family: 'Inter Bold';
  src: url('fonts/inter-bold-webfont.woff2');
}

@font-face {
  font-family: 'Inter SemiBold';
  src: url('fonts/inter-semibold-webfont.woff2');
}

@font-face {
  font-family: 'Inter Regular';
  src: url('fonts/inter-regular-webfont.woff2');
}

@font-face {
  font-family: 'SourceCodePro Bold';
  src: url('fonts/SourceCodePro-Bold.otf');
}

@font-face {
  font-family: 'SourceCodePro Regular';
  src: url('fonts/SourceCodePro-Regular.otf');
}

:root {
  --typeface-bold: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --typeface-medium: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --typeface-regular: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --typeface-mono-bold: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  --typeface-mono-regular: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
}
[data-uifont='system'] {
  --typeface-bold: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --typeface-medium: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --typeface-regular: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
[data-codefont='system'] {
  --typeface-mono-bold: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  --typeface-mono-regular: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
}

[data-uifont='inter'] {
  --typeface-bold: Inter Bold, Helvetica, sans-serif;
  --typeface-medium: Inter SemiBold, Helvetica, sans-serif;
  --typeface-regular: Inter Regular, Helvetica, sans-serif;
}

[data-codefont='sourceCode'] {
  --typeface-mono-bold: 'SourceCodePro Bold';
  --typeface-mono-regular: 'SourceCodePro Regular';
}
