/* cloned from radicle-design-system so we can swap in optimized fonts */

@font-face {
  font-family: 'Inter Bold';
  src: url('/fonts/inter-bold-webfont.woff2');
}

@font-face {
  font-family: 'Inter SemiBold';
  src: url('/fonts/inter-semibold-webfont.woff2');
}

@font-face {
  font-family: 'Inter Regular';
  src: url('/fonts/inter-regular-webfont.woff2');
}
