name: Run svelte-check
on:
  workflow_dispatch:
  pull_request:

jobs:
  svelte-check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - uses: actions/setup-node@v3
        with:
          node-version: 24
          cache: 'npm'

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-

      - name: Populate .env file
        run: |
          cat > .env << EOF
          PUBLIC_NETWORK=5
          PUBLIC_GQL_URL=https://gql-api.drips.network/
          PUBLIC_INTERNAL_GQL_URL=https://foo.bar
          ECOSYSTEM_API_URL=https://ecosystems-api-mainnet.up.railway.app/
          ECOSYSTEM_API_ACCESS_TOKEN=123
          PUBLIC_ORCID_API_URL=https://pub.sandbox.orcid.org
          PUBLIC_TURNSTILE_SITE_KEY=1x00000000000000000000AA
          EOF

      - name: Install dependencies
        run: npm ci

      - name: Build GQL types
        run: PUBLIC_GQL_URL=https://gql-api.drips.network/ npm run gql:build

      - name: Run svelte-check
        run: npm run check
