name: Run svelte-check
on:
  workflow_dispatch:
  pull_request:

jobs:
  svelte-check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - uses: actions/setup-node@v3
        with:
          node-version: 22
          cache: 'npm'

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-

      - name: Populate .env file
        uses: SpicyPizza/create-envfile@v1.3
        with:
          envkey_PUBLIC_NETWORK: 5
          envkey_GQL_URL: https://drips-multichain-api.up.railway.app/
          envkey_GQL_ACCESS_TOKEN: 123
          envkey_ECOSYSTEM_API_URL: https://base-pr-ecosystems.up.railway.app
          envkey_ECOSYSTEM_API_ACCESS_TOKEN: 123

      - name: Install dependencies
        run: npm ci

      - name: Build GQL types
        run: GQL_ACCESS_TOKEN=7f82c43a-e7f4-47e9-a623-db7066f8bea2 GQL_URL=https://drips-multichain-api.up.railway.app/ npm run gql:build  # public access token

      - name: Run svelte-check
        run: npm run check
