name: Run svelte-check
on: [pull_request, workflow_dispatch]

jobs:
  svelte-check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-

      - name: Populate .env file
        uses: SpicyPizza/create-envfile@v1.3
        with:
          envkey_PINATA_SDK_KEY: ${{ secrets.PINATA_SDK_KEY }}
          envkey_PINATA_SDK_SECRET: ${{ secrets.PINATA_SDK_SECRET }}
          envkey_TENDERLY_ACCESS_SECRET: ${{ secrets.TENDERLY_ACCESS_SECRET }}
          envkey_TENDERLY_PROJECT: ${{ secrets.TENDERLY_PROJECT }}
          envkey_TENDERLY_USER: ${{ secrets.TENDERLY_USER }}
          envkey_GELATO_API_KEY: ${{ secrets.GELATO_API_KEY }}
          envkey_COINMARKETCAP_API_KEY: ${{ secrets.COINMARKETCAP_API_KEY }}
          envkey_PUBLIC_NETWORK: 5
          envkey_GQL_URL: https://drips-api-mainnet.up.railway.app
          envkey_GQL_ACCESS_TOKEN: ${{ secrets.GQL_ACCESS_TOKEN }}

      - name: Install dependencies
        run: npm ci
      
      - name: Build GQL types
        run: npm run build:graphql

      - name: Run svelte-check
        run: npm run check -- --fail-on-warnings
