name: Run unit tests
on: [pull_request, workflow_dispatch]

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-

      - name: Populate .env file
        uses: SpicyPizza/create-envfile@v1.3
        with:
          envkey_PUBLIC_NETWORK: 5
          enkey_GQL_URL: https://drips-api-goerli.up.railway.app
          envkey_GQL_ACCESS_TOKEN: 1234
          envkey_GQL_URL: https://drips-api-mainnet.up.railway.app
          envkey_GQL_ACCESS_TOKEN: ${{ secrets.GQL_ACCESS_TOKEN }}

      - name: Install dependencies
        run: npm ci

      - name: Build GQL types
        run: npm run build:graphql

      - name: Svelte Kit Sync
        run: npx svelte-kit sync

      - name: Run tests
        run: npm run test:unit
