name: Run unit tests
on:
  workflow_dispatch:
  pull_request:

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - uses: actions/setup-node@v3
        with:
          node-version: 22
          cache: 'npm'

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-

      - name: Install dependencies
        run: npm ci

      - name: Build GQL types
        run: GQL_URL=https://drips-multichain-api.up.railway.app GQL_ACCESS_TOKEN=7f82c43a-e7f4-47e9-a623-db7066f8bea2 npm run gql:build  # public access token

      - name: Svelte Kit Sync
        run: npx svelte-kit sync

      - name: Run tests
        run: npm run test:unit
