name: Run unit tests

on: [pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: npm install

      - name: Svelte Kit Sync
        run: npx svelte-kit sync

      - name: Run tests
        run: npm run test:unit
